<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="bank" class="kz.iitu.spring.demo.Bank">
        <property name="accounts">
            <list>
            </list>
        </property>
    </bean>
    <bean id="bankService" class="kz.iitu.spring.demo.ATM" init-method="init" destroy-method="destroy">
        <constructor-arg index="0" ref="bank"/>
    </bean>
</beans>